
<!-- <Label class="h3 p-15 m-15 text-left">
    <FormattedString>
        <Span text="Words " color="#006600" ></Span>
        <Span text="with " color="#990000" fontAttributes="Bold"></Span>
        <Span text="different " color="#ffcc00"></Span>
        <Span text="color."></Span>
    </FormattedString>
</Label>

<Label class="text-left">
    <FormattedString>
        <Span text="color."></Span>
        <Span text="{{this.display}}" color="#006600" ></Span>
        <Span text="{{this.xCoordinate}}" color="#006600" ></Span>
    </FormattedString>
</Label> -->

<p:Page navigatingTo="onNavigatingTo">
    <StackLayout verticalAlignment="middle">
        <b:Button class="btn btn-primary btn-active btn-forest" id="button" text="COLLECT DATA" (tap)="onButtonTap()"></b:Button>
        <s:Button class="btn btn-primary btn-active btn-lemon" id="button" text="PAUSE" (tap)="pauseButton()"></s:Button>
        <e:Button class="btn btn-primary btn-active btn-ruby" id="button" text="END NIGHT" (tap)="pauseButton()"></e:Button>
    </StackLayout>   
</p:Page>