
<Label class="h3 p-15 m-15 text-left">
    <FormattedString>
        <Span text="Words " color="#006600" ></Span>
        <Span text="with " color="#990000" fontAttributes="Bold"></Span>
        <Span text="different " color="#ffcc00"></Span>
        <Span text="color."></Span>
    </FormattedString>
</Label>

<Label class="text-left">
    <FormattedString>
        <Span text="color."></Span>
        <Span text="{{this.display}}" color="#006600" ></Span>
        <Span text="{{this.xCoordinate}}" color="#006600" ></Span>
    </FormattedString>
</Label>

<Button class="btn btn-primary btn-active" id="button" text="Tap me!" (tap)="onButtonTap()"></Button>
